body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1125px;
  padding: 0 10px;
}

.grid {
	display: grid;
	gap: 30px;
	&__col {
		&-3 {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}